body {
    background-color: rgba(231, 231, 231, 0.938);
    font-family: Roboto;
    font-size: 15px;
}

body p {
    color: rgb(88, 88, 88);
}
.sidebar {
    grid-area: sidebar;
    background-color: rgb(0, 153, 255);
}
.header{
    grid-area: header;   
    background-color: white;
    box-shadow: 0px 5px 8px -3px rgba(195, 195, 195, 1);
    margin-bottom: 20px;
}
.content{
    grid-area: content;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "projects-wrapper misc-wrapper"
    ;
}

.projects-wrapper {
    grid-area: projects-wrapper;
    margin-left: 2em ;
}
.misc-werapper {
grid-area: misc-wrapper;
}

.projects{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.misc {
}

#container {
    display: grid;
    width: 100%;
    height: 1200px;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar content"
}

.card {
    width: 40%;
    height: 200px;
    box-shadow: 0px 5px 8px -3px rgba(195, 195, 195, 1);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.announcement {
    width: 80%;
    height: 100%;
    
    
}
.announcement > p {
    width: 100%;
    max-width: 300px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px
}
.announcement > h4 {
    margin: 5px
}


.announcements {
    border-radius: 10px;
    box-shadow: 0px 9px 8px -3px rgba(195, 195, 195, 1);
    display: flex;
    flex-flow: column wrap ;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;

}
